/app/Bank/nbproject/private/
/app/Bank/Bank-war/nbproject/private/
/app/Bank/Bank-ejb/nbproject/private/
/app/Bank-model/nbproject/private/
/app/Bank-model/build/
/app/Bank-model/dist/
/app/Bank/build/
/app/Bank/dist/
/app/Bank/Bank-war/build/
/app/Bank/Bank-war/dist/
/app/Bank/Bank-ejb/build/
/app/Bank/Bank-ejb/dist/
/app/Bank/Bank-model/build/
/app/Bank/Bank-model/dist/
/app/Bank/Bank-model/nbproject/private/
/app/DependencyInection/nbproject/private/
/app/DependencyInection/build/
/app/ApplicationClient1/nbproject/private/